 {{!
	string msg-islam-drawer-toggle The label used by the drawer button.
}}
<summary
	class="islam-dropdown-summary" 
	title="{{msg-islam-drawer-toggle}}"
	aria-details="islam-drawer__card">
	<span class="islam-ui-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<span>{{msg-islam-drawer-toggle}}</span>
</summary>