<section id="islam-main-menu" class="islam-main-menu islam-drawer__menu">
	{{#data-portlets-first}}{{>Menu}}{{/data-portlets-first}}
	{{#array-portlets-rest}}{{>Menu}}{{/array-portlets-rest}}
</section>