<div class="islam-menu__content">
	{{{html-before-portal}}}
	<ul class="islam-menu__content-list">
		{{#array-list-items}}{{>MenuListItem}}{{/array-list-items}}
		{{#html-items}}{{{.}}}{{/html-items}}
	</ul>
	{{{html-after-portal}}}
</div>