<header class="mw-body-header islam-page-header" id="islam-page-header">
	<div class="islam-page-header-inner">
		{{#data-page-heading}}{{>PageHeading}}{{/data-page-heading}}
		{{#data-page-tools}}{{>PageTools}}{{/data-page-tools}}
	</div>
</header>
<div id="islam-page-header-sticky-sentinel"></div>
