{{!
	object data-page-languages
	object data-page-variants
	bool is-uls-ready
}}
<div
	id="islam-page-languages-dropdown"
	class="islam-page-languages page-actions__item islam-dropdown"
>
	<details class="islam-dropdown-details">
		<summary
			class="islam-dropdown-summary {{#is-uls-ready}}mw-interlanguage-selector{{/is-uls-ready}}" 
			title="{{msg-islam-languages-toggle}}"
			aria-details="islam-languages__card"
			data-counter-text="{{int-language-count}}">
			<span class="islam-ui-icon mw-ui-icon-wikimedia-language"></span>
			<span>{{msg-islam-languages-toggle}}</span>
		</summary>
	</details>
	<aside id="islam-languages__card" class="islam-menu__card">
		<div class="islam-menu__card-backdrop"></div>
		<div class="islam-menu__card-content">
			{{#data-portlets.data-languages}}{{>Menu}}{{/data-portlets.data-languages}}
			{{#data-portlets.data-variants}}{{>Menu}}{{/data-portlets.data-variants}}
		</div>
	</aside>
</div>