{{!
	string msg-islam-preferences-toggle The label used by the preferences button.
}}
<div class="islam-preferences islam-header__item islam-dropdown">
	<details id="islam-preferences-details" class="islam-dropdown-details">
		<summary
			class="islam-dropdown-summary" 
			title="{{msg-islam-preferences-toggle}}"
			aria-details="islam-preferences__card">
			<span class="islam-ui-icon mw-ui-icon-wikimedia-settings"></span>
			<span>{{msg-islam-preferences-toggle}}</span>
		</summary>
	</details>
	<div id="islam-preferences__card" class="islam-menu__card">
		<div class="islam-menu__card-backdrop"></div>
		<div class="islam-menu__card-content">
			<div id="islam-preferences-content" class="islam-preferences-content"></div>
		</div>
	</div>
</div>