{{!
	string msg-islam-search-toggle-shortcut shortcut key message
	string msg-islam-search-toggle tooltip message for search toggle
}}
<summary
	class="islam-dropdown-summary" 
	title="{{msg-islam-search-toggle}} {{msg-islam-search-toggle-shortcut}}"
	aria-details="islam-search__card">
	<span class="islam-ui-icon">
		<span></span>
		<span></span>
		<span></span>
	</span>
	<span>{{msg-islam-search-toggle}}</span>
</summary>

