<button
	id="islam-share"
	class="islam-share islam-button islam-dropdown-summary"
	title="{{msg-islam-share}}"
>
	<span class="islam-ui-icon mw-ui-icon-wikimedia-share"></span>
	<span>{{msg-islam-share}}</span>
</button>