<div class="islam-siteStats">
	{{#array-sitestats-items}}
	<div class="islam-siteStats__item" id="islam-siteStats__item--{{id}}" title="{{label}}">
		<span class="islam-ui-icon mw-ui-icon-{{icon}} mw-ui-icon-wikimedia-{{icon}}"></span>
		<span>{{value}}</span>
	</div>
	{{/array-sitestats-items}}
</div>