<div
	class="islam-typeahead-placeholder"
	id="islam-typeahead-placeholder"
	{{#hidden}}hidden{{/hidden}}
>
	<div class="islam-typeahead-placeholder-content">
		{{#icon}}<div class="islam-typeahead-placeholder-icon islam-ui-icon mw-ui-icon-wikimedia-{{.}}"></div>{{/icon}}
		{{#title}}<div class="islam-typeahead-placeholder-title">{{.}}</div>{{/title}}
		{{#description}}<div class="islam-typeahead-placeholder-description">{{.}}</div>{{/description}}
	</div>
</div>
